<p id="notice"><%= notice %></p>

<div class="container">

  <p>
    <strong>Name:</strong>
    <%= @category.name %>
  </p>
  
  <p>
    <strong>Description:</strong>
    <%= @category.description %>
  </p>

  <% if @category.image.attached? %>
  <p>
    <%= image_tag @category.image.variant(resize:"400x400") %> <br> <br>
  </p>
  <% end %>

  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', categories_path %>


</div>