<p id="notice"><%= notice %></p>

<div class="container">


  <h1 class="display-3 text-center mt-3 mb-5">Y o u r &nbsp A c t i v i t i e s</h1>
  <br>

    <%#  CATEGORIES CARD-DECK BEGINS %>

    <% @activities.each_slice(3) do |activities| %>
        
      <div class="card-deck">
        <% activities.each do |activity| %>

          <a class="card mb-3" data-toggle="modal" data-target="#staticBackdrop" type="button" href="<%= activity_path(activity) %>" data-remote="true">
            
            <% if activity.image.attached?  %>
            <div>
              <%= image_tag activity.image, class: "card-img-top" %>
            </div>
            <% end %>
            
            <div class="card-body overlay">
              <h5 class="card-title display-4 text-center"> <%= activity.name %>  </h5>
                          
            </div>
          
          </a>

        <% end %>
      </div>

    <% end %>

    <%# CATEGORIES CARD-DECK ENDS %>

    <%= render 'modal', activities: @activities %>



  <%= link_to 'New Activity', new_activity_path, class: 'btn btn-primary' %>

</div>