<% if user_signed_in? %>

<p id="notice"><%= notice %></p> <br><br>

<h2 class="text-center">My &nbsp A c t i v i t i e s</h2>
<br>

<%# ACTIVITIES CARD-DECK BEGINS %>

<%# Show current user activities %>
<% @users_activities.each_slice(3) do |activities| %>
    
  <div class="card-deck">
    <% activities.each do |activity| %>

      <a class="card mb-3" data-toggle="modal" data-target="#staticBackdrop" type="button" href="<%= activity_path(activity) %>" data-remote="true">
        <% if activity.image.attached?  %>
        <div>
          <%= image_tag activity.image, class: "card-img-top" %>
        </div>
        <% end %>
        
        <div class="card-body overlay">
          <h5 class="card-title display-4 text-center"> <%= activity.name %> </h5>         
        </div>
      </a>

    <% end %>
  </div>

<% end %>


<%# ACTIVITIES CARD-DECK ENDS %>

<%= render 'modal', activities: @users_activities %>
<br>
<%= link_to 'Create New Activity', new_activity_path, class: 'btn btn-primary' %> 
<br><br>

<% end %>
