<p id="notice"><%= notice %></p>

<h1>
  <%= @activity.name %>
</h1>

  <% if @activity.image.attached? %>
  <p>
    <%= image_tag @activity.image.variant(resize:"300x300") %> <br> <br>
  </p>
  <% end %>

  <p>
    <strong>Category:</strong>
    <%= @activity.category %>
  </p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %> |
<%= link_to 'Delete', activity_path(@activity), data: { method: :delete, confirm: "Are you sure?" } %>
